<!--utilizando um componente do angular material o mat-card,
    foi criado um card para nossa pagina home    
-->
<mat-card class="home mat-elevation-z4">
    <mat-card-title>
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle>
        Somos a Soft Autumn e acreditamos que o charme do outono se encaixa em toda estação!
    </mat-card-subtitle>
</mat-card>
<br>
<!--criado um card para exibição do read-->
<mat-card class="mat-elevation-z4"> 
    <app-produto-read></app-produto-read>
</mat-card>

