<!-- adicionando um header à aplicação que utiliza componentes de angular material para uma melhor estilização.-->
<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
           <!--logo da companhia-->
            <img class="logo" src="assets/img/logo.png" alt="Logo Fatec">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/">
            <!--utilizando a classe material-icons do angular material-->
            <i class="material-icons">
                home
            </i>
            Home
        </a>
    </span>
</mat-toolbar>
